
body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    background-color: #2f2f2f;
}

*:focus {
    outline: 0;
    outline: none !important;
}

* {
    outline: none;
}

.input-lg:focus {
    outline: none !important;
    border: 1px solid #2f2f2f;
}

.indexheader {
    margin-top: 10px;
}

.indexheader a {
    font-weight: 300;
    color: #878585;
}

.indexheader a:hover {
    text-decoration: none;
    color: #9b9999;
}

.indexheader a:hover > .light {
    color: #d0b905 !important;
}

.inputdiv {
    margin-top: 180px;
}

.index-logo:hover {
    text-decoration: none;
}

.input-lg {
    height: 110px;
    width: 75%;
    display: block;
    margin: 0 auto;
    font-size: 60px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    color: #9b9999;
    background-color: #2f2f2f;
    border-color: #2f2f2f;
    webkit-box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.0) !important;
    box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.0) !important;
}

.form-control {
    border-top-right-radius: 4px !important;
    border-bottom-right-radius: 4px !important;
}

/* Placeholder color and opacity fix */
.form-control::-webkit-input-placeholder {
    /* WebKit browsers */
    color: #9b9999;
    font-weight: 100;
    opacity: 0.5;
}

.form-control:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #9b9999;
    font-weight: 100;
    opacity: 0.5;
}

.form-control::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #9b9999;
    font-weight: 100;
    opacity: 0.5;
}

.form-control:-ms-input-placeholder {
    /* Internet Explorer 10+ */
    color: #9b9999;
    font-weight: 100;
    opacity: 0.5;
}

/* Placeholder color and opacity fix */

.btn-custom {
    /*background-color: #001732;*/
    background-color: #000000;
    color: #ffffff;
}

.btn-custom:hover, .btn-custom:focus {
    background-color: #2d2a2a;
    color: #ffffff;
}

.btn-success {
    color: #000000;
}

.btn-lg {
    padding: 15px;
    font-size: 22px;
    border-radius: 5px !important;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    font-weight: 300;
}

.newinputdiv {
    margin-top: 30px !important;
}

.title {
    font-weight: 300;
    font-size: 36px;
    margin-bottom: 20px;
}

.titleversion {
    font-size: 15px;
    font-weight: 500;
    color: rgb(103, 90, 66);
}

.list-inline > li {
    /* fix 'My color is:' */
    vertical-align: middle;
}

.mycoloris {
    font-size: 27px;
    font-weight: 100;
    color: #9b9999;
}

.convertbuttons {
    margin-top: 35px;
}

/* Results */
.input-group {
    margin-bottom: 8px;
    height: 75px;
    width: 100%;
}

.allresults {
    margin-top: 40px;
    position: relative;
}

.hex-result, .rgb-result, .rgba-result, .cmyk-result, .hsl-result, .hsv-result {
    height: 75px;
    font-size: 18px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.input-group button {
    position: absolute;
    bottom: 0px;
    right: 0px;
    /*font-weight: 300;*/
    /*border-left: 1px solid #E0DBDB;*/
    /*border-rightt: 1px solid #E0DBDB;*/
    -webkit-border-top-left-radius: 4px;
    -moz-border-radius-topleft: 4px;
    border-top-left-radius: 4px;
}

.cname {
    width: 20%;
    font-weight: 300;
}

/* bootstrap tooltip fixes */

.tooltip-inner {
    white-space: nowrap;
    max-width: none;
}

.tooltipcopied {
    display: block !important;
}

/*.tooltipcopied:hover {*/
/*background-color: #0c2f58 !important;*/
/*color: #ffffff !important;*/
/*border-color: #081F3A;*/
/*}*/

.hex-result, .rgb-result, .rgba-result, .cmyk-result, .hsl-result, .hsv-result {
    z-index: -999 !important;
}

/* bootstrap tooltip fixes */

/* Footer */
/*.footer {*/
/*position: relative;*/
/*bottom: 0;*/
/*width: 100%;*/
/*padding: 12px 30px 10px 30px;*/
/*color: white;*/
/*z-index: 99999;*/
/*height: 39px;*/
/*font-size: 12px;*/
/*}*/

.footer-fixed {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 20px 30px 18px 30px;
    color: white;
    z-index: 99999;
    height: 60px;
    font-size: 14px;
    font-weight: 300;
}

.footer-fixed ul li a, .footer-fixed ul li span {
    color: #878585;
}

.footer-fixed ul li a:hover, .footer-fixed ul li a:focus {
    color: #9b9999;
    text-decoration: none;
}

.feedbackul {
    font-weight: 400;
}

/* Footer */

/* tooltip style */
.ui-tooltip {
    padding: 2px;
    opacity: 1;
    -webkit-border-radius: 3px !important;
    -moz-border-radius: 3px !important;
    border-radius: 3px !important;
    background-color: #000000;
}

.ui-tooltip-content {
    position: relative;
    border: none !important;
    background-color: black;
    font-weight: 300;
    font-size: 12px;
    color: #ffffff;
    padding: 1px 5px 1px 5px;
}

.input-group button.active {
    background-color: #001732;
    color: #ffffff;
}

/* tooltip style */

/* errors */
.allresults-error {
    position: absolute;
    top: 0;
    left: 0;
    background-image: url("../img/error-stripe.png");
    background-repeat: repeat;
    height: 100%;
    z-index: 99999;
    text-align: center;
    padding-top: 10px;
    font-size: 32px;
    display: none;
    font-weight: 300;
    margin-top: 1px;
}

.error-message {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
    margin-top: 5px;
    color: #000000;
}

.error-nav {
    font-size: 13px;
    font-weight: 300;
    margin-top: 6px;
}

.error-nav a {
    display: block;
    color: #0c2f58 !important;
}

.error-nav a:hover, .error-nav a:focus {
    color: #0c2f58;
    text-decoration: underline;
}

/*.allresults:hover > .allresults-error {*/
/*display: block;*/
/*}*/
/* errors */

/* ----------- Non-Retina Screens ----------- */
/*@media screen*/
/*and (min-device-width: 1300px)*/
/*and (max-device-width: 2000px)*/
/*and (-webkit-min-device-pixel-ratio: 1) {*/
/*.inputdiv {*/
/*margin-top: 250px;*/
/*}*/
/*}*/

/* ----------- Retina Screens ----------- */
/*@media screen*/
/*and (min-device-width: 1300px)*/
/*and (max-device-width: 2000px)*/
/*and (-webkit-min-device-pixel-ratio: 2)*/
/*and (min-resolution: 192dpi) {*/
/*.inputdiv {*/
/*margin-top: 250px;*/
/*}*/
/*}*/

/* subpages extra css */
.titlename:hover {
    text-decoration: none;
}

.title2 {
    font-size: 22px !important;
}

.inputdivsub {
    margin-top: 15px;
    padding: 0 20px 0 30px;
}

.inputdivsub {
    margin-top: 10px;
    padding-top: 5px;
}

.inputdivsub a {
    font-weight: 300;
    color: #878585;
}

.inputdivsub a:hover {
    text-decoration: none;
    color: #9b9999;
}

.inputdivsub a:hover > .light {
    color: #d0b905 !important;
}

.whatwhat {
    font-size: 80px;
    font-weight: 300;
    margin-top: 50px;
    margin-bottom: 50px;
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
}

.whatdetails {
    font-size: 18px;
    font-weight: 300;
    color: #9b9999;
}

.whatdetails a {
    color: #ffffff;
}

.whatdetails a:hover, .whatdetails a:focus {
    text-decoration: underline;
}

.footer {
    bottom: 0;
    width: 100%;
    padding: 20px 30px 18px 30px;
    color: white;
    z-index: 99999;
    height: 60px;
    font-size: 14px;
    font-weight: 300;
}

.footer ul li a, .footer ul li span {
    color: #878585;
}

.footer ul li a:hover, .footer ul li a:focus {
    color: #9b9999;
    text-decoration: none;
}

/* subpages extra css */

/* no animation page extra css */
.convertbuttons_no_anim {
    margin-top: 50px;
}

.allresults_no_anim {
    margin-top: 40px;
    position: relative;
}

/* no animation page extra css */

.colorprevbox {
    width: 50px;
    height: 50px;
    border: 1px solid white;
}